<component name="libraryTable">
  <library name="spring-jdbc-3.2.4.RELEASE">
    <CLASSES>
      <root url="jar://$USER_HOME$/.gradle/caches/artifacts-26/filestore/org.springframework/spring-jdbc/3.2.4.RELEASE/jar/b0102696b834ebd75292137c0d9348da42c6bf96/spring-jdbc-3.2.4.RELEASE.jar!/" />
    </CLASSES>
    <JAVADOC />
    <SOURCES>
      <root url="jar://$USER_HOME$/.gradle/caches/artifacts-26/filestore/org.springframework/spring-jdbc/3.2.4.RELEASE/source/b5bc68ed416985b08a04c6756a6ccd3f9d6d74ee/spring-jdbc-3.2.4.RELEASE-sources.jar!/" />
    </SOURCES>
  </library>
</component>